name: Deploy to GitHub Pages (Cambridge Folding Knife's Blog)

on:
  # 当推送到main分支时自动触发部署
  push:
    branches:
      - main

# 设置权限以允许写入内容
permissions:
  contents: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'
      
      - name: Install dependencies
        run: npm install --legacy-peer-deps
      
      - name: Build
        run: npm run build
      
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          # 使用GitHub提供的token进行授权
          github_token: ${{ secrets.GITHUB_TOKEN }}
          # 指定构建产物的输出目录
          publish_dir: docs/.vuepress/dist
          # 如果有自定义域名，在这里填写
          # cname: example.com


